/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain) */

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
        display: block;
}

body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}
table {
        border-collapse: collapse;
        border-spacing: 0;
}

/*** body, conteneur ***/
body {
	background-color: #f4f3ef;
	color: #333;
	text-align: center;	
}

img {
	border: 0px;
}

#container {
	width: 830px;
	margin: 0 auto;
	text-align: right;
	position: relative;
	font-family: david, "frank ruehl", Times, serif ;
	font-size: 1.1em;
	line-height: 1.2em;	
}

p, blockquote {
	margin-bottom: 0.8em;
	
}

/*** header ***/
#header {
	background: #f4f3ef url(../images/header.jpg) 0 0 no-repeat;
	width: 800px;
	height: 476px;
	margin-top: 5px;
}

#header h1 {
	text-indent: -5000px;
	width: 436px;
	height: 38px;
	position: relative;
	right: 364px;
	top: 210px;	
}

#header #slogan {
	position: fixed;
	/*top: 20px;
	left: 5px;*/
	bottom: -20px;
	left: 350px;
	height: 160px;
	width: 160px;
	text-align: left;
	font-family: sans-serif;	
	background: #f4f3ef url(../images/slogan3.png) 0 0 no-repeat;
}

#header #slogan p {
	margin-left: -5000px;
}

#langue a {
	position: absolute;
	left: -150px;
	top: 0;
	background: transparent url(../images/fr.png) left no-repeat;
	height: 30px;
	width: 90px;
	text-decoration: none;
	color:#333;
}

#langue a span {
	margin-top: 4px;
	display: block;
}

#langue a span span {
	display: inline;
	font-size: 90%;
}

/**** contenu ***/
#content {	
	margin: -210px 360px 0 0;
	padding: 5px 20px 10px 10px;
	width: 400px;
}

#blog {
	position: relative;
}

#blog li { 
	position : relative;
	height: 100px;
}

#blog a {
	text-decoration: none;
	color: #3a362e;
}

#blog a:hover {
	color: #796743;
}

li#avi, li#nina, li#ella {
	background-color: #fefefe;
}

li img {
	position: absolute;
}

li#luisa img, li#rivka img, li#gilles img {
	top: 0;
	left: 0;
}

li#avi img, li#nina img, li#ella img {
	top: 0;
	right: 0;
}

#luisa, #avi, #rivka, #nina, #gilles, #ella {
	margin-bottom: 20px;
}

h2, li p { 
	margin : 0 10px; 
	padding : 10px 0;
}

#avi h2, #nina h2, #ella h2 {	
	text-align: left;
}

#avi p, #nina p, #ella p {	
	text-align: left;
	padding-right: 105px;
}

/************ menus ***************/
#menus {	
	position: absolute;
	top: 415px;
	right: 70px ;	
}

#menus h3 {
	background: #f4f3ef url(../images/menu_h3.gif) 0 0 no-repeat;
	color: #fff;
	height: 28px;
	text-align: center;
	line-height: 28px;
	font-size: 1.15em;
	font-weight: bold;
	margin-bottom: -3px;	
}

#menus ul li {
	width: 200px;
	border-bottom: 1px solid #ccc5ad;		
}

#menus a {
	display: block;
	text-decoration: none;
	background-color: #e2e1cc;
	width: 192px;
	height: 26px;
	color: #3a362e;	
	padding-right: 8px;
	line-height: 26px;
	font-size: 0.95em;
}

#menus a:hover, #menus a:focus {
	background-color: #f4f3dc;
	color: #796743;
}

#passages, #practical {
	margin-bottom: 15px;	
}

#sale {
	width: 200px;
	height: 180px;
	background-color: #8f8763;		
}

#sale p {
	font-size: 16px;
	color: #f1e823;
	text-align: right;
	margin-top: 40px;
	width: 180px;
}

#sale img {
	float: left;	
	padding-left: 4px;
}

#sale h3 {
	background-color: #8f8763;
	background-image: none;
	color: #f1e823;
	font-size: 1.15em;	
}

#sale a {
	padding: 0;
}

#sale #price {
	color: #fff;
}

/**** texarea ***/

textarea {
	width: 400px;
	margin-right: -18px;
	margin-bottom: 5px;
	background-color: #f7f7f6;
	font-family: sans-serif;
	font-size: 14px;
	color: #333;
	padding: 7px;
	border-left: 13px solid #c6a53e;
	border-right: 13px solid #c6a53e;
	border-bottom: 1px solid #ccc5ad;
}
